.number {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.numbersBox {
    margin: 0 auto;
    padding: 20px;
}